Repository LucasSteer/lucassteer_website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --ignore-unknown, stylelint

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write --ignore-unknown"],
  "*.css": ["stylelint", "prettier --write --ignore-unknown"],
  "*.vue": ["eslint", "stylelint", "prettier --write --ignore-unknown"]
}

Revert dependabot PRs
  package-lock.json
  package.json
Due: none

Revert "Revert dependabot PRs"
  package-lock.json
  package.json
Due: none

Update cert year
  layouts/default.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Update with Babylist experience
  pages/myexperiences.vue
  public/logos/BabylistLogo.png
Due: eslint, prettier --write --ignore-unknown, stylelint

Bump npm versions
  nuxt.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write --ignore-unknown

Attempt to fix CI issues
  .github/workflows/build-and-deploy.yml
Due: none

Introduce setup node action
  .github/workflows/build-and-deploy.yml
Due: none

Refactor Node.js setup in build-and-deploy workflow
  .github/workflows/build-and-deploy.yml
Due: none

Bump action versions
  .github/workflows/build-and-deploy.yml
Due: none

Pin node-version and re-run npm i
  .github/workflows/build-and-deploy.yml
  package-lock.json
Due: none
