Repository LucasSteer/lucassteer_website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --ignore-unknown, stylelint

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write --ignore-unknown"],
  "*.css": ["stylelint", "prettier --write --ignore-unknown"],
  "*.vue": ["eslint", "stylelint", "prettier --write --ignore-unknown"]
}

Shorten language on index page
  pages/index.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Add desktop text equivalent for theme switcher
  components/ThemeSwitcher.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Add skip to main content link
  error.vue
  layouts/default.vue
  pages/index.vue
  pages/myexperiences.vue
  pages/myprojects.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Remove text alternatives from decorational icons
  components/ExperienceCard.vue
  components/TimelineBadge.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Reduced the verbiage of graphics
  layouts/default.vue
  pages/index.vue
  pages/myprojects.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Changed mid-width of page to be 360px - this a width near when the page starts to break down
  layouts/default.vue
  pages/index.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fix mobile nav scrolling for high-zoom
  components/NavMenu.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fix pause for sr reading external links
  components/ExternalLink.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed link and project card colour-only indicates
  components/ExternalLink.vue
  components/InternalLink.vue
  components/NavLink.vue
  components/ProjectCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed theme switcher colour-only indication
  components/ThemeSwitcher.vue
  layouts/default.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Aligned styling for nav menu buttons
  components/NavMenu.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fix focus rings being cutoff for nav links
  components/NavMenu.vue
  layouts/default.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed page titles and descriptions - made them unique for each page - removed multi-word component rule for pages - added rule for useHead being a global function
  .eslintrc.json
  pages/index.vue
  pages/myexperiences.vue
  pages/myprojects.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed missing H1s on pages - created new PageHeader component - replaced H1s on error page with new component - fixed eslint rules for vue3 template roots
  .eslintrc.json
  components/PageHeader.vue
  error.vue
  pages/index.vue
  pages/myexperiences.vue
  pages/myprojects.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed project card images being covered on mobile
  components/ProjectCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed unique page title for error page - error page shouldn't be crawled so description is not necessary - updated eslint for nuxt/vue3 non-issues
  .eslintrc.json
  error.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed collapsable cards getting locked - would get locked if space, enter, or click during expand or collapse - v-if to v-show based on: https://github.com/vuejs/core/issues/5657
  components/ExperienceCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed double H1 on About Me
  pages/index.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Update package versions
  package-lock.json
Due: none

Removed unhelpful alt on project card - updated babel refs
  package-lock.json
  pages/myprojects.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed bug where clicking outside of nav menu wouldn't allow scrolling
  components/NavMenu.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Add text equivalent for mobile nav menu and theme switcher
  components/NavMenu.vue
  components/ThemeSwitcher.vue
  layouts/default.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed modifierKey+click not working directly on the link - cleanup: remove NOTES.md file as unnecessary
  NOTES.md
  components/ProjectCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fix ExperienceCard headers near 360px - removerd decorational logo, shrunk arrow, tightened spacing - re-styled header text colours to use highlight colours more sparsely
  components/ExperienceCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Update headshot
  public/headshot.jpg
Due: none

Update packages with npm ci & npm audit fix
  package-lock.json
Due: none

Update the copy on the About Me page - update the current year in the copyright
  layouts/default.vue
  pages/index.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Add project card for personal website - project card image defaults to darkMode version but changes when viewed in dark or forcedcolors - add functionality for dynamic values in project properties
  pages/myprojects.vue
  public/thumbnails/PersonalWebsite_darkMode.png
  public/thumbnails/PersonalWebsite_lightMode.png
Due: eslint, prettier --write --ignore-unknown, stylelint

Revised copy for the My Experiences
  pages/myexperiences.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Update dependencies to fix audit issues
  package-lock.json
Due: none

Revert "Update dependencies to fix audit issues"
  package-lock.json
Due: none

npm audit fix
  package-lock.json
Due: none

Fix npm audit and ci failures
  nuxt.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write --ignore-unknown

Migrated experiences to a data-driven model - markup is dynamically generated based on the data defined in the script tag - also updated an eslint plugin that had conflicting rules for vue3
  .eslintrc.json
  components/ExperienceCard.vue
  pages/myexperiences.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Update logos to have white opaque backgrounds
  components/ExperienceCard.vue
  public/logos/AvanadeLogo.png
  public/logos/CAATPensionPlanLogo.png
  public/logos/ConfederationFreezersLogo.png
  public/logos/JibestreamLogo.png
Due: eslint, prettier --write --ignore-unknown, stylelint

Add Jobber experience - also added additional information to my final experience at Avanade
  pages/myexperiences.vue
  public/logos/JobberLogo.png
Due: eslint, prettier --write --ignore-unknown, stylelint

Bump package versions
  package-lock.json
  package.json
Due: none

Attempt to bump upload-pages-artifact
  .github/workflows/build-and-deploy.yml
Due: none

Update current experience. Bump year
  layouts/default.vue
  pages/myexperiences.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Attempt to fix deploy issues
  .github/workflows/build-and-deploy.yml
Due: none
