Repository LucasSteer/lucassteer_website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --ignore-unknown, stylelint

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write --ignore-unknown"],
  "*.css": ["stylelint", "prettier --write --ignore-unknown"],
  "*.vue": ["eslint", "stylelint", "prettier --write --ignore-unknown"]
}

Update tailwind.config.js to v3 scaffold
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown

Fix navbar height shifting if scrollbar is present
  layouts/default.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Add scrollbar-gutter and fallback to prevent horizontal scrollbar shift
  assets/app.css
Due: prettier --write --ignore-unknown, stylelint

New build with fix_scrollbar_shift changes
  docs/200.html
  docs/_nuxt/3976ef9.js
  docs/_nuxt/bde2b42.js
  docs/_nuxt/static/1650857008/manifest.js
  docs/_nuxt/static/1650857008/myexperiences/state.js
  docs/_nuxt/static/1650857008/myprojects/state.js
  docs/_nuxt/static/1650946029/manifest.js
  docs/_nuxt/static/1650946029/myexperiences/payload.js
  docs/_nuxt/static/1650946029/myexperiences/state.js
  docs/_nuxt/static/1650946029/myprojects/payload.js
  docs/_nuxt/static/1650946029/myprojects/state.js
  docs/_nuxt/static/1650946029/payload.js
  docs/index.html
  docs/myexperiences.html
  docs/myprojects.html
Due: eslint, prettier --write --ignore-unknown

Add new error page
  layouts/error.vue
  nuxt.config.js
Due: eslint, prettier --write --ignore-unknown, stylelint

Non-change to pre-commit to fix wsl commit hooks
  .husky/pre-commit
Due: none

New build for branch
  docs/200.html
  docs/404.html
  docs/_nuxt/115e6c8.js
  docs/_nuxt/1d98c7a.js
  docs/_nuxt/3976ef9.js
  docs/_nuxt/43f4489.js
  docs/_nuxt/4ed0112.js
  docs/_nuxt/5d14e79.js
  docs/_nuxt/8019c28.js
  docs/_nuxt/9bd5233.js
  docs/_nuxt/a1ec523.js
  docs/_nuxt/aaa1c56.js
  docs/_nuxt/b836832.js
  docs/_nuxt/cbff67f.js
  docs/_nuxt/e6480dd.js
  docs/_nuxt/e6a2226.js
  docs/_nuxt/static/1650946029/myexperiences/state.js
  docs/_nuxt/static/1650946029/myprojects/state.js
  docs/_nuxt/static/1651097280/manifest.js
  docs/_nuxt/static/1651097280/myexperiences/payload.js
  docs/_nuxt/static/1651097280/myexperiences/state.js
  docs/_nuxt/static/1651097280/myprojects/payload.js
  docs/_nuxt/static/1651097280/myprojects/state.js
  docs/_nuxt/static/1651097280/payload.js
  docs/index.html
  docs/myexperiences.html
  docs/myprojects.html
Due: eslint, prettier --write --ignore-unknown

Remove '404 creation' TODO
  README.md
Due: none

Update README TODOs for future plans
  README.md
Due: none

Prettier all files
  README.md
  components/ExperienceCard.vue
  components/ExperienceCardConnecter.vue
  components/ExternalLink.vue
  components/InternalLink.vue
  components/NavLink.vue
  components/ProjectCard.vue
  layouts/default.vue
  layouts/error.vue
  pages/index.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fix scrollbar-gutter to only be on the page (and not all containers)
  assets/app.css
Due: prettier --write --ignore-unknown, stylelint

Re-add custom scale used by project card
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown

Remove default margin from all pages
  layouts/default.vue
  pages/myexperiences.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Convert myprojects to place cards based on data
  pages/myprojects.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Implement dynamic layout for project cards
  components/ProjectCard.vue
  pages/myprojects.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Remove completed item from ProjectCard TODO - add new item for an idea for ProjectCard
  README.md
Due: none

Change text-grey default to only top-level html
  assets/app.css
Due: prettier --write --ignore-unknown, stylelint

Add primary colour outside of text
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown

Add tags to project cards
  components/ProjectCard.vue
  pages/myprojects.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Remove Project Card redesign from TODOs
  README.md
Due: none

npm run generate after redesign_projectCard merge
  docs/404.html
  docs/_nuxt/115e6c8.js
  docs/_nuxt/1d11b8f.js
  docs/_nuxt/23de8d6.js
  docs/_nuxt/2dc782b.js
  docs/_nuxt/43f4489.js
  docs/_nuxt/4ed0112.js
  docs/_nuxt/5cba8ad.js
  docs/_nuxt/aaa1c56.js
  docs/_nuxt/bb4e836.js
  docs/_nuxt/cbff67f.js
  docs/_nuxt/static/1651097280/manifest.js
  docs/_nuxt/static/1651097280/myexperiences/state.js
  docs/_nuxt/static/1651097280/myprojects/state.js
  docs/_nuxt/static/1651985225/manifest.js
  docs/_nuxt/static/1651985225/myexperiences/payload.js
  docs/_nuxt/static/1651985225/myexperiences/state.js
  docs/_nuxt/static/1651985225/myprojects/payload.js
  docs/_nuxt/static/1651985225/myprojects/state.js
  docs/_nuxt/static/1651985225/payload.js
  docs/index.html
  docs/myexperiences.html
  docs/myprojects.html
Due: eslint, prettier --write --ignore-unknown

Create PromotionCard component
  components/PromotionCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Add initial PromotionCards to Avanade experience
  pages/myexperiences.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Remove completed and discarded TODOs from README
  README.md
Due: none

Update MyExperiences descriptions - New descriptions for my promotions - Fix grammar and typos in older experiences
  pages/myexperiences.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Add accordian for experiences - TODO: accessibility (aria-expanded and motion-reduce) - TODO: dropdown icon styling - TODO: solution for promotion cards
  components/AccordionWrapper.vue
  components/ExperienceCard.vue
  pages/myexperiences.vue
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown, stylelint

Fix stutter for Avanade experience accordian - need the top-level div to be the one with its height controlled to avoid margin/padding pop
  pages/myexperiences.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fix vertical alignment of dropdown button
  components/ExperienceCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Remove link to company website from experiences - would mess with accessibility and UX when expanding the dropdown - generally unnecessary - also: rename `heading` as `company` for clarity
  components/ExperienceCard.vue
  pages/myexperiences.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Convert experience card to button - allows for better accessibility - adjust padding to improve promotion card
  components/ExperienceCard.vue
  components/PromotionCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

aria-expanded + controls for accordian
  components/ExperienceCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Bump browser list version
  package-lock.json
  package.json
Due: none

Improve spacing for ExperienceCards
  README.md
  components/ExperienceCard.vue
  components/PromotionCard.vue
  pages/myexperiences.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Added prefers-reduced-motion support for experiences
  README.md
  components/AccordionWrapper.vue
  components/ExperienceCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed ProjectCard bug with prefers-reduced-motion
  README.md
  components/ProjectCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Reordered TODOs by priority / order of sequence
  README.md
Due: none

Added a custom svg icon for the accordion action
  README.md
  components/ExperienceCard.vue
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown, stylelint

Clean up project card motion safe styles
  components/ProjectCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Overhauled a11y and design for the ExperienceCard
  README.md
  components/ExperienceCard.vue
  components/PromotionCard.vue
  components/TimelineBadge.vue
  pages/myexperiences.vue
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown, stylelint

Generate docs fo gh pages
  docs/404.html
  docs/_nuxt/1092f7a.js
  docs/_nuxt/1d11b8f.js
  docs/_nuxt/23de8d6.js
  docs/_nuxt/32326db.js
  docs/_nuxt/41cbb5a.js
  docs/_nuxt/5cba8ad.js
  docs/_nuxt/793550a.js
  docs/_nuxt/8019c28.js
  docs/_nuxt/89dcfe0.js
  docs/_nuxt/8b7a25b.js
  docs/_nuxt/9bd5233.js
  docs/_nuxt/bb4e836.js
  docs/_nuxt/static/1651985225/myexperiences/state.js
  docs/_nuxt/static/1651985225/myprojects/state.js
  docs/_nuxt/static/1670207073/manifest.js
  docs/_nuxt/static/1670207073/myexperiences/payload.js
  docs/_nuxt/static/1670207073/myexperiences/state.js
  docs/_nuxt/static/1670207073/myprojects/payload.js
  docs/_nuxt/static/1670207073/myprojects/state.js
  docs/_nuxt/static/1670207073/payload.js
  docs/index.html
  docs/myexperiences.html
  docs/myprojects.html
Due: eslint, prettier --write --ignore-unknown
