Repository LucasSteer/lucassteer_website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --ignore-unknown, stylelint

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write --ignore-unknown"],
  "*.css": ["stylelint", "prettier --write --ignore-unknown"],
  "*.vue": ["eslint", "stylelint", "prettier --write --ignore-unknown"]
}

Fixed accordion stutter caused by abruptly switching vertical padding on button
  components/ExperienceCard.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Generate docs for gh pages
  docs/404.html
  docs/_nuxt/1092f7a.js
  docs/_nuxt/2113bd0.js
  docs/_nuxt/32326db.js
  docs/_nuxt/44bca0b.js
  docs/_nuxt/8b7a25b.js
  docs/_nuxt/f252c10.js
  docs/_nuxt/static/1670207073/myexperiences/state.js
  docs/_nuxt/static/1670207073/myprojects/state.js
  docs/_nuxt/static/1670212865/manifest.js
  docs/_nuxt/static/1670212865/myexperiences/payload.js
  docs/_nuxt/static/1670212865/myexperiences/state.js
  docs/_nuxt/static/1670212865/myprojects/payload.js
  docs/_nuxt/static/1670212865/myprojects/state.js
  docs/_nuxt/static/1670212865/payload.js
  docs/index.html
  docs/myexperiences.html
  docs/myprojects.html
Due: eslint, prettier --write --ignore-unknown

Update nuxt packages to the latest
  package-lock.json
  package.json
Due: none

Add app.vue file for base
  app.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Refactor nuxt and tailwind configs and CSS
  assets/css/main.css
  layouts/default.vue
  nuxt.config.js
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown, stylelint

Rename static/ to public/
  public/CNAME
  public/favicon/favicon-114.png
  public/favicon/favicon-120.png
  public/favicon/favicon-144.png
  public/favicon/favicon-150.png
  public/favicon/favicon-152.png
  public/favicon/favicon-16.png
  public/favicon/favicon-160.png
  public/favicon/favicon-180.png
  public/favicon/favicon-192.png
  public/favicon/favicon-310.png
  public/favicon/favicon-32.png
  public/favicon/favicon-57.png
  public/favicon/favicon-60.png
  public/favicon/favicon-64.png
  public/favicon/favicon-70.png
  public/favicon/favicon-72.png
  public/favicon/favicon-76.png
  public/favicon/favicon-96.png
  public/favicon/favicon.ico
  public/headshot.jpg
  public/logos/AvanadeLogo.png
  public/logos/CAATPensionPlanLogo.png
  public/logos/CGILogo.png
  public/logos/ConfederationFreezersLogo.png
  public/logos/JibestreamLogo.png
  public/logos/eSentireLogo.png
  public/thumbnails/GeocARching.jpg
Due: none

Remove newly redundant component imports
  components/ExperienceCard.vue
  components/ProjectCard.vue
  components/PromotionCard.vue
  layouts/default.vue
  pages/index.vue
  pages/myexperiences.vue
  pages/myprojects.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Migrated error page to nuxt3 setup
  error.vue
  layouts/error.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fix vite errors during nuxt generate - also fixes accordion stutter for reduced motion
  components/AccordionWrapper.vue
  pages/index.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed head attrs not being applied - updated package.json and README for more relevant commands
  README.md
  nuxt.config.js
  package.json
Due: eslint, prettier --write --ignore-unknown

Update package-lock based on fresh install
  package-lock.json
Due: none

Creating GitHub action to build and deploy changes to GitHub Pages
  .github/workflows/build-and-deploy.yml
Due: none

Added hyperlegible font - imported files - added CSS rules - pulled font into Tailwind config
  assets/css/main.css
  assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2
  assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2
  assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2
  assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown, stylelint

Improved text styles to accomodate font change
  components/ExperienceCard.vue
  components/ExternalLink.vue
  components/InternalLink.vue
  components/NavLink.vue
  components/ProjectCard.vue
  components/PromotionCard.vue
  components/TimelineBadge.vue
  pages/index.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Update README - removed Bugs - removed completed TODO for CI/CD - updated install dependencies command
  README.md
Due: none

Add dark mode support based on system theme
  assets/css/main.css
  components/ExperienceCard.vue
  components/ExperienceCardConnecter.vue
  components/ExternalLink.vue
  components/InternalLink.vue
  components/NavLink.vue
  components/ProjectCard.vue
  components/PromotionCard.vue
  components/TimelineBadge.vue
  error.vue
  layouts/default.vue
  pages/index.vue
  pages/myprojects.vue
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown, stylelint

Update README based on current darkMode progress
  README.md
Due: none

Fixed margin on footer border
  layouts/default.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Added theme switcher to manually select colour theme
  README.md
  assets/css/main.css
  components/ThemeSwitcher.vue
  layouts/default.vue
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown, stylelint

Add theme switcher to manually set the theme - custom icons for system, light, and dark themes - theme switcher closes when clicking outside (or on toggle) - theme is remembered in localStorage
  README.md
  components/ThemeSwitcher.vue
  layouts/default.vue
  public/icons/darkThemeIcon.svg
  public/icons/lightThemeIcon.svg
  public/icons/systemThemeIcon.svg
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown, stylelint

Update README with current TODOs
  README.md
Due: none

Improved visibility of which theme is selected - seems not possible to adjust the focus ring for a radio to its label
  components/ThemeSwitcher.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Fixed project card styling at small breakpoints
  components/ExperienceCard.vue
  components/ProjectCard.vue
  layouts/default.vue
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown, stylelint

Remove dark mode TODO from README
  README.md
Due: none

Fix relative paths for theme switcher icons
  .gitignore
  components/ThemeSwitcher.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Added forced-colors variant and systemColors
  tailwind.config.js
Due: eslint, prettier --write --ignore-unknown

Modified the ThemeSwitcher to ignore theme in WHCM
  components/ThemeSwitcher.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Added styling changes to support forced-colors
  components/ExperienceCard.vue
  components/ExternalLink.vue
  components/InternalLink.vue
  components/NavLink.vue
  components/ProjectCard.vue
  components/PromotionCard.vue
  components/ThemeSwitcher.vue
  components/TimelineBadge.vue
  layouts/default.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Improved visibility of themeswitcher focus in WHCM
  components/ThemeSwitcher.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Converted AccentColor to Highlight to fix Chrome - unclear why, but Chrome doesn't recognize the AccentColor SystemColor
  components/ExperienceCard.vue
  components/InternalLink.vue
  components/NavLink.vue
  components/ThemeSwitcher.vue
  components/TimelineBadge.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Improved error page to use theme-specific graphic
  error.vue
  public/icons/darkFavicon.svg
  public/icons/forcedColorsFavicon.svg
  public/icons/lightFavicon.svg
Due: eslint, prettier --write --ignore-unknown, stylelint

Updated Favicon based on new logo - used https://realfavicongenerator.net to generate - renamed folder to "favicons" - updated README to reflect changes made
  README.md
  nuxt.config.js
  public/favicon/favicon-114.png
  public/favicon/favicon-120.png
  public/favicon/favicon-144.png
  public/favicon/favicon-150.png
  public/favicon/favicon-152.png
  public/favicon/favicon-16.png
  public/favicon/favicon-160.png
  public/favicon/favicon-180.png
  public/favicon/favicon-192.png
  public/favicon/favicon-310.png
  public/favicon/favicon-32.png
  public/favicon/favicon-57.png
  public/favicon/favicon-60.png
  public/favicon/favicon-64.png
  public/favicon/favicon-70.png
  public/favicon/favicon-72.png
  public/favicon/favicon-76.png
  public/favicon/favicon-96.png
  public/favicon/favicon.ico
  public/favicons/android-chrome-192x192.png
  public/favicons/android-chrome-512x512.png
  public/favicons/apple-touch-icon.png
  public/favicons/browserconfig.xml
  public/favicons/favicon-16x16.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon.ico
  public/favicons/mstile-144x144.png
  public/favicons/mstile-150x150.png
  public/favicons/mstile-310x150.png
  public/favicons/mstile-310x310.png
  public/favicons/mstile-70x70.png
  public/favicons/safari-pinned-tab.svg
  public/favicons/site.webmanifest
Due: eslint, prettier --write --ignore-unknown

Converted theme switcher to use store - simplified theme detection in default layout - clarified variable naming in themeswitcher for "colourScheme"
  components/ThemeSwitcher.vue
  layouts/default.vue
  stores/theme.js
Due: eslint, prettier --write --ignore-unknown, stylelint

Install Pinia for state management
  nuxt.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write --ignore-unknown

Added functionality to close nav menu on escape
  components/NavMenu.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Add cleanup command to clear nuxt cache
  README.md
  package.json
Due: none

Update copyright year
  layouts/default.vue
Due: eslint, prettier --write --ignore-unknown, stylelint

Redesigned the index page - made it more focused as to what I want to say - separated points of interest into sections - improved styling of sections
  README.md
  pages/index.vue
  public/headshot.jpg
Due: eslint, prettier --write --ignore-unknown, stylelint

Added min-width to navmenu for low-res mobile view
  README.md
  components/NavMenu.vue
Due: eslint, prettier --write --ignore-unknown, stylelint
